trigger:
  branches:
    include:
    - main
    - develop
  paths:
    include:
    - src/*
    - k8s/*
    - Dockerfile

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'ACR-ServiceConnection'
  imageRepository: 'weatherapi'
  containerRegistry: '$(ACR_NAME).azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  
  # AKS variables
  aksServiceConnection: 'AKS-ServiceConnection'
  aksResourceGroup: '$(AKS_RESOURCE_GROUP)'
  aksClusterName: '$(AKS_CLUSTER_NAME)'
  k8sNamespace: 'default'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and Push Docker Image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build and push image to ACR
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest

    - task: PublishPipelineArtifact@1
      displayName: Publish K8s manifests
      inputs:
        targetPath: '$(Build.SourcesDirectory)/k8s'
        artifact: 'manifests'
        publishLocation: 'pipeline'

- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    displayName: Deploy to AKS
    pool:
      vmImage: $(vmImageName)
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            displayName: Download K8s manifests
            inputs:
              buildType: 'current'
              artifactName: 'manifests'
              targetPath: '$(Pipeline.Workspace)/manifests'

          - task: Bash@3
            displayName: Replace tokens in manifests
            inputs:
              targetType: 'inline'
              script: |
                sed -i "s|__ACR_NAME__|$(containerRegistry)|g" $(Pipeline.Workspace)/manifests/*.yaml
                sed -i "s|__BUILD_ID__|$(tag)|g" $(Pipeline.Workspace)/manifests/*.yaml
                cat $(Pipeline.Workspace)/manifests/deployment.yaml

          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: $(aksServiceConnection)
              namespace: $(k8sNamespace)
              manifests: |
                $(Pipeline.Workspace)/manifests/deployment.yaml
                $(Pipeline.Workspace)/manifests/service.yaml

          - task: Kubernetes@1
            displayName: Get service details
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceEndpoint: $(aksServiceConnection)
              namespace: $(k8sNamespace)
              command: 'get'
              arguments: 'service weatherapi-service'
              outputFormat: 'wide'