apiVersion: v1
kind: Service
metadata:
  name: weatherapi-service
  labels:
    app: weatherapi
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: weatherapi
